
		<div class="vdh-section" style="background:#FFF888">
			<div class="container">
				<div class="row">
					
						<div class="col-md-12" >
							<p>All rights reserved. &copy;2017 <a her="https://vdh.go.ke"> Vet Data Hub </a> <br/>
							<span style="font-size: 10px"><a href="/terms-and-conditions">Terms & Conditions</a> | <a href="/credits">Credits</a>. <br/></p> </span>
						</div>
					

				</div>
				<div class="row">
				<div class= "col-md-9"></div>
				<div class= "col-md-3 "><span style="font-size: 10px"><p>built in Kenya by <a href="https://songa-labs.github.io">Songa Labs</a></span>.</p></div>
				</div>
			</div>
		</div>