{% load staticfiles %}
		<script src={% static "js/jquery.min.js" %}></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src={% static "js/bootstrap.min.js" %}></script>
		<script src={% static "js/jquery.easing.min.js" %}></script>
		<script src={% static "js/jquery.stellar.js" %}></script>
		<script src={% static "js/jquery.appear.js" %}></script>
		<script src={% static "js/jquery.nicescroll.min.js" %}></script>
		<script src={% static "js/jquery.countTo.js" %}></script>
		<script src={% static "js/jquery.shuffle.modernizr.js" %}></script>
		<script src={% static "js/jquery.shuffle.js" %}></script>
		<script src={% static "js/owl.carousel.js" %}></script>
		<script src={% static "js/jquery.ajaxchimp.min.js" %}></script>
		<script src={% static "js/script.js" %}></script>